<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kyobobook.application.adapter.out.persistence.sample.SampleMasterMapper">
	
    <!--
        설명     : 샘플의 목록을 조회.
        작성일자  : 2021. 08. 12.
        작성자   : smlee1@kyobobook.com
    -->
	<select id="selectSample" resultType="SampleEntity">
		SELECT /* SampleMasterMapper.selectSample */
		       SEQ AS seq
		       , TITLE as title
		       , CONTENTS as contents
		       , 'master_sample1' as txt
		  FROM MASTER_SAMPLE
		 ORDER BY SEQ
	</select>
	
    <!--
        설명     : 샘플의 상세 조회
        작성일자  : 2021. 08. 12.
        작성자   : smlee1@kyobobook.com
    -->
	<select id="getSample" parameterType="int" resultType="SampleEntity">
		SELECT /* SampleMasterMapper.getSample */
		       SEQ
		       , TITLE
		       , CONTENTS
		  FROM MASTER_SAMPLE
		 WHERE SEQ = #{seq}
	</select>
	
    <!--
        설명     : 샘플 신규 데이터 등록
        작성일자  : 2021. 08. 12.
        작성자   : smlee1@kyobobook.com
    -->
	<insert id="insertSample" parameterType="SampleEntity">
		INSERT INTO /* SampleMasterMapper.insertSample */ 
		MASTER_SAMPLE (
		    TITLE
		    , CONTENTS
		) VALUES (
		    #{title}
		    , #{contents}
		)
	</insert>
	
    <!--
        설명     : 샘플 데이터 업데이트
        작성일자  : 2021. 08. 12.
        작성자   : smlee1@kyobobook.com
    -->
	<update id="updateSample" parameterType="SampleEntity">
		UPDATE /* SampleMasterMapper.updateSample */
		       MASTER_SAMPLE
		   SET TITLE = #{title}
		       , CONTENTS = #{contents}
		 WHERE SEQ = #{seq}
	</update>
	
    <!--
        설명     : 샘플 데이터 삭제
        작성일자  : 2021. 08. 12.
        작성자   : smlee1@kyobobook.com
    -->
	<delete id="deleteSample" parameterType="int">
		DELETE /* SampleMasterMapper.deleteSample */ FROM MASTER_SAMPLE
		 WHERE SEQ = #{seq}
	</delete>
	

	<resultMap id="sampleTagResult" type="SampleEntity">
		<id property="seq" column="seq"/> <!-- property는 도메인 클래스의 멤버변수명과 일치, column은 테이블의 컬럼명과 일치 -->
		<result property="title" column="title"/>
		<result property="contents" column="contents"/>
	</resultMap>
	
    <!--
        설명     : Sample 과 SampleTag Join 테스트
        작성일자  : 2021. 08. 12.
        작성자   : smlee1@kyobobook.com
    -->
	<select id="selectSampleTag" resultMap="sampleTagResult">
		SELECT MS.SEQ
		       , MS.TITLE
		       , MS.CONTENTS
		       , ST.TAG_ID
		       , ST.TAG_NAME
		  FROM MASTER_SAMPLE MS
		  LEFT OUTER JOIN MASTER_SAMPLE_TAG ST
		               ON MS.SEQ = ST.SAMPLE_SEQ
	</select>
</mapper>

