<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kyobobook.application.adapter.out.persistence.cart.CartWriterMapper">

	<!--
        설명     : 장바구니 체크박스 업데이트
        작성일자  : 2021. 11. 11.
        작성자   : seohee.ko@kyobobook.com
    -->
	<update id="updateCartCheck" parameterType="java.util.Map">
	   <foreach collection="list" item="item" open="" close="" separator=";">
        UPDATE /* CartWriterMapper-updateCartCheck, 작성일자 2021.11.11 by 고서희, 수정일자 YYYY.MM.DD by OOO */
               eos.tm_spbk
           SET CHEK_YSNO    = #{item.chkVal}
         WHERE UNFY_CMDT_ID = #{item.unfyCmdtId} 
           AND mmbr_num = #{item.mmbrNum}
           AND dlt_ysno = 'N'
       </foreach>
    </update>

    <!--
        설명     : 장바구니 상품삭제(상태변경)
        작성일자  : 2021. 11. 11.
        작성자   : seohee.ko@kyobobook.com
    -->
    <update id="deleteProduct" parameterType="java.util.Map">
       <foreach collection="list" item="item" open="" close="" separator=";">
        UPDATE /* CartWriterMapper.deleteProduct */
               eos.tm_spbk
           SET dlt_ysno = 'Y'
         WHERE spbk_id = #{item.spbkId}
         <choose>
            <when test='item.mmbrYsno == "Y"'>
             AND mmbr_num = #{item.mmbrNum}
            </when>
            <otherwise>
             AND tmpr_mmbr_num = #{item.tmprMmbrNum}
            </otherwise>
         </choose>
        </foreach>
           AND dlt_ysno = 'N'
    </update>

</mapper>