<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kyobobook.application.adapter.out.persistence.delivery.DeliveryWriterMapper">

    <!--
        설명     : 배송주소 삭제
        작성일자  : 2021. 11. 24.
        작성자   : seohee.ko@kyobobook.com
    -->
    <update id="deleteDeliveryAddress" parameterType="kyobobook.application.adapter.out.persistence.delivery.entity.TSoDlvrAddrMEntity">
      UPDATE eos.t_so_dlvr_addr_m
         SET dlt_ysno = 'Y'
           , bsc_dlpn_ysno = 'N'
       WHERE mmbr_num = #{mmbrNum}
         AND dlpn_srmb = #{dlpnSrmb}
    </update>

    <!--
        설명     : 배송주소 등록
        작성일자  : 2021. 11. 24.
        작성자   : kimsehoon@kyobobook.com
    -->
    <insert id="insertDeliveryAddress" parameterType="TSoDlvrAddrMInsertEntity">
        INSERT INTO /* DeliveryWriterMapper.insertDeliveryAddress */
            eos.t_so_dlvr_addr_m (  mmbr_num,<!-- 회원번호 -->
                                    dlpn_srmb,<!-- 배송지순번 -->
                                    dlpn_name,<!-- 배송지명 -->
                                    tlnm,<!-- 전화번호 -->
                                    cphn_tlnm,<!-- 휴대전화전화번호 -->
                                    bsc_dlpn_ysno,<!-- 기본배송지여부 -->
                                    pssr_num,<!-- 우편번호 -->
                                    bsc_adrs,<!-- 기본주소 -->
                                    dtl_adrs,<!-- 상세주소 -->
                                    dlpn_atnm_name,<!-- 배송지별칭명 -->
                                    crtr_id,<!-- 생성자ID -->
                                    cret_dttm,<!-- 생성일시 -->
                                    amnr_id,<!-- 수정자ID -->
                                    amnd_dttm,<!-- 수정일시 -->
                                    dlt_ysno<!-- 삭제여부 -->
        )
        SELECT                      #{mmbrNum, jdbcType=VARCHAR},<!-- mmbr_num -->
                                    (   SELECT
                                            COALESCE(MAX(dlpn_srmb), 0) + 1
                                        FROM
                                            eos.t_so_dlvr_addr_m
                                        WHERE
                                            mmbr_num = #{mmbrNum, jdbcType=VARCHAR}
                                    ),<!-- dlpn_srmb -->
                                    #{dlpnName, jdbcType=VARCHAR},<!-- dlpn_name -->
                                    #{tlnm, jdbcType=VARCHAR},<!-- tlnm -->
                                    #{cphnTlnm, jdbcType=VARCHAR},<!-- cphn_tlnm -->
                                    CASE (  SELECT
                                                COUNT(1)
                                            FROM
                                                eos.t_so_dlvr_addr_m
	                                        WHERE
	                                            mmbr_num = #{mmbrNum, jdbcType=VARCHAR}
	                                            AND bsc_dlpn_ysno = 'Y'
	                                            AND dlt_ysno = 'N'
                                        )
                                        WHEN 0 THEN 'Y'
                                        ELSE        #{bscDlpnYsno, jdbcType=VARCHAR}
                                    END,<!-- bsc_dlpn_ysno -->
                                    #{pssrNum, jdbcType=VARCHAR},<!-- pssr_num -->
                                    #{bscAdrs, jdbcType=VARCHAR},<!-- bsc_adrs -->
                                    #{dtlAdrs, jdbcType=VARCHAR},<!-- dtl_adrs -->
                                    #{dlpnAtnmName, jdbcType=VARCHAR},<!-- dlpn_atnm_name -->
                                    #{mmbrId, jdbcType=VARCHAR},<!-- crtr_id -->
                                    NOW(),<!-- cret_dttm -->
                                    #{mmbrId, jdbcType=VARCHAR},<!-- amnr_id -->
                                    NOW(),<!-- amnd_dttm -->
                                    'N'<!-- dlt_ysno -->
        FROM
            DUAL
        WHERE
            #{MAX_INSERT_COUNT, jdbcType=NUMERIC} &gt; (  SELECT
								                            COUNT(1)
								                        FROM
								                            eos.t_so_dlvr_addr_m
								                        WHERE
								                            mmbr_num = #{mmbrNum, jdbcType=VARCHAR}
								                            AND dlt_ysno = 'N'
            )<!-- 등록된 배송지가 10개를 초과하는 경우 등록하지 않음 -->
    </insert>

    <!--
        설명     : 기본배송주소 해제
        작성일자  : 2021. 11. 24.
        작성자   : kimsehoon@kyobobook.com
    -->
    <update id="updateDeliveryAddressDefaultClear" parameterType="java.lang.String">
        UPDATE /* DeliveryWriterMapper.updateDeliveryAddressDefaultClear */
            eos.t_so_dlvr_addr_m
        SET
            bsc_dlpn_ysno = 'N'
        WHERE
            mmbr_num = #{mmbrNum, jdbcType=VARCHAR}
            AND bsc_dlpn_ysno = 'Y'
            AND dlt_ysno = 'N'
    </update>
    
    <!--
        설명     : 기본배송주소 자동설정 (순번이 가장 빠른 것 순)
        작성일자  : 2021. 11. 24.
        작성자   : seohee.ko@kyobobook.com
    -->
    <update id="updateDeliveryAddressStus" parameterType="java.lang.String">
     UPDATE /* DeliveryWriterMapper.updateDeliveryAddress */
            eos.t_so_dlvr_addr_m
        SET bsc_dlpn_ysno = 'Y'
      WHERE mmbr_num = #{mmbrNum}
        AND dlt_ysno = 'N'
        AND dlpn_srmb = (SELECT MIN(dlpn_srmb)
                           FROM eos.t_so_dlvr_addr_m
                          WHERE mmbr_num = #{mmbrNum}
                            AND dlt_ysno = 'N'
                        )
    </update>
    
    <!--
        설명     : 배송주소록 수정
        작성일자  : 2021. 12. 2.
        작성자   : seohee.ko@kyobobook.com
    -->
    <update id="updateDeliveryAddress" parameterType="kyobobook.application.adapter.out.persistence.delivery.entity.TSoDlvrAddrMEntity">
     UPDATE /* DeliveryWriterMapper.updateDeliveryAddress */
            eos.t_so_dlvr_addr_m 
        SET dlpn_name = #{dlpnName},<!-- 배송지명 -->
	        tlnm = #{tlnm},<!-- 전화번호 -->
	        cphn_tlnm = #{cphnTlnm},<!-- 휴대전화전화번호 -->
	        bsc_dlpn_ysno = #{bscDlpnYsno},<!-- 기본배송지여부 -->
	        pssr_num = #{pssrNum},<!-- 우편번호 -->
	        bsc_adrs = #{bscAdrs},<!-- 기본주소 -->
	        dtl_adrs = #{dtlAdrs},<!-- 상세주소 -->
	        dlpn_atnm_name = #{dlpnAtnmName},<!-- 배송지별칭명 -->
	        amnr_id = #{amnrId},<!-- 수정자ID -->
	        amnd_dttm = NOW()<!-- 수정일시 -->
	  WHERE mmbr_num = #{mmbrNum}
	    AND dlpn_srmb = #{dlpnSrmb}
    </update>

</mapper>

