<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kyobobook.application.adapter.out.persistence.delivery.DeliveryWriterMapper">

    <update id="deleteDeliveryAddress" parameterType="kyobobook.application.adapter.out.persistence.delivery.entity.TSoDlvrAddrMEntity">
      UPDATE eos.t_so_dlvr_addr_m 
         SET dlt_ysno = 'Y'
       WHERE mmbr_num = #{mmbrNum}
         AND dlpn_srmb = #{dlpnSrmb}
    </update>
    
</mapper>

