<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kyobobook.application.adapter.out.persistence.cart.CartReaderMapper">

    <!--
        설명     : 장바구니 목록 조회(임시용)
        작성일자  : 2021. 11. 11.
        작성자   : seohee.ko@kyobobook.com
    -->
	<select id="selectCartList" resultType="TmSpbkEntity">
        SELECT  /* CartWriterMapper-selectCartList,작성일자 2021.11.11 by 고서희, 수정일자 YYYY.MM.DD by OOO */
        SPBK_ID,      SPBK_DVSN_CODE,     SPBK_KIND_CODE,   UNFY_CMDT_ID,   UNT_ITM_SRMB
		,MEMNO,       TMPR_MMBR_NUM,      REQU_QNTT,        END_DTTM,       MMBR_YS
		,FRBE_YS,     ORGL_UNFY_CMDT_ID,  CYCL_CODE,        DLVR_DW_CODE,   TTL_DLVR_NMTM
		,CNRC_NMTM,   BRDR_BRAN_CODE,     LINK_DVSN_CODE,   JO_CODE,        SCTN_CODE
		,CHEK_YS,     ADDT_ORDR_CNTT,     PRIN_CNTT,        CRTR_ID,        CRET_DTTM
		,AMNR_ID,     AMND_DTTM
        FROM
        EOS.TM_SPBK
        LIMIT 10 OFFSET 0
    </select>

</mapper>

