<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kyobobook.application.adapter.out.persistence.test.TestReaderMapper">
	
	<!--
        설명     : 다건 조회
        작성일자  : 2021. 10. 27.
        작성자   : kimsehoon@kyobobook.com
    -->
	<select id="selectData" resultType="TestEntity">
		SELECT /* TestReaderMapper.selectData */
            ordr_id,            /* 주문아이디 */
            ordr_date,
            ordr_hms,
            memno,
            aord_name,
            aord_prtb_tlnm,
            aord_ip_adrs,
            crtr_id,
            cret_dttm,
            amnr_id,
            amnd_dttm
        FROM
            DEV.TM_ORDR
        LIMIT 10 OFFSET 0
	</select>
	
	<!--
        설명     : 단건 조회
        작성일자  : 2021. 10. 27.
        작성자   : kimsehoon@kyobobook.com
    -->
	<select id="getData" parameterType="java.lang.String" resultType="TestEntity">
        SELECT /* TestReaderMapper.getData */
            ordr_id,            /* 주문아이디 */
		    ordr_date,
		    ordr_hms,
		    memno,
		    aord_name,
		    aord_prtb_tlnm,
		    aord_ip_adrs,
		    crtr_id,
		    cret_dttm,
		    amnr_id,
		    amnd_dttm
        FROM
            DEV.TM_ORDR
        WHERE
            ORDR_ID = #{ordrId, jdbcType=VARCHAR}
	</select>
    
</mapper>

