<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kyobobook.application.adapter.out.persistence.user.UserInfoReaderMapper">

    	
	<!--
        설명     : 회원 정보를 조회 한다.
        작성일자  : 2021. 09. 15.
        작성자   : smlee1@kyobobook.com
    -->
	<select id="getUserInfo" parameterType="String" resultType="UserInfoEntity">
		SELECT /* UserInfoReaderMapper.getUserInfo */
		       SEQ
		       , ID
		       , NAME
		       , EMAIL
		       , PASSWORD
		  FROM TB_USER_INFO
		 WHERE ID = #{id}
	</select>
	
	<!--
        설명     : 회원 정보와 권한 목록 1 : N 조회용 result map.
        작성일자  : 2021. 09. 15.
        작성자   : smlee1@kyobobook.com
    -->
	<resultMap id="userAndRolesMap" type="UserInfoEntity">
	    <result property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="email" column="EMAIL"/>
        <result property="password" column="PASSWORD"/>
        <collection property="roles" column="ID" javaType="java.util.ArrayList" ofType="String" select="selectUserRole"/>
	</resultMap>
	
	<!--
        설명     : 회원 정보와 권한 목록을 조회 한다.
        작성일자  : 2021. 09. 15.
        작성자   : smlee1@kyobobook.com
    -->
    <select id="getUserInfoAndRoles" parameterType="String" resultMap="userAndRolesMap">
        SELECT /* UserInfoReaderMapper.getUserInfoAndRoles */
               SEQ
               , ID
               , NAME
               , EMAIL
               , PASSWORD
          FROM TB_USER_INFO
         WHERE ID = #{id}
    </select>
    
	<!--
        설명     : 회원 권한 목록을 조회 한다.
        작성일자  : 2021. 09. 15.
        작성자   : smlee1@kyobobook.com
    -->
	<select id="selectUserRole" parameterType="String" resultType="String">
	    SELECT /* UserInfoReaderMapper.selectUserRole */
	           NAME
	      FROM TB_USER_ROLE
	     WHERE ID = #{id}
	</select>
</mapper>

