<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kyobobook.application.adapter.out.persistence.sample.SampleSlaveMapper">
	
	<!--
        설명     : 샘플의 목록을 조회.
        작성일자  : 2021. 08. 12.
        작성자   : smlee1@kyobobook.com
    -->
	<select id="selectSample" resultType="SampleEntity">
		SELECT /* SampleSlaveMapper.selectSample */
		       SEQ AS seq
		       , TITLE as title
		       , CONTENTS as contents
		       , 'slave_sample1' as txt
		  FROM SLAVE_SAMPLE
		 ORDER BY SEQ
	</select>
	
	<!--
        설명     : 샘플의 상세 조회
        작성일자  : 2021. 08. 12.
        작성자   : smlee1@kyobobook.com
    -->
	<select id="getSample" parameterType="int" resultType="SampleEntity">
		SELECT /* SampleSlaveMapper.getSample */
		       SEQ
		       , TITLE
		       , CONTENTS
		  FROM SLAVE_SAMPLE
		 WHERE SEQ = #{seq}
	</select>

    <!--
        설명     : 샘플 신규 데이터 등록
        작성일자  : 2021. 08. 12.
        작성자   : smlee1@kyobobook.com
    -->
	<insert id="insertSample" parameterType="SampleEntity">
		INSERT INTO /* SampleSlaveMapper.insertSample */
		SLAVE_SAMPLE (
		    TITLE
		    , CONTENTS
		) VALUES (
		    #{title}
		    , #{contents}
		)
	</insert>
	
    <!--
        설명    : 샘플 데이터 업데이트
        작성일자 : 2021. 08. 12.
        작성자  : smlee1@kyobobook.com
    -->
	<update id="updateSample" parameterType="SampleEntity">
		UPDATE /* SampleSlaveMapper.updateSample */ 
		       SLAVE_SAMPLE
		   SET TITLE = #{title}
		       , CONTENTS = #{contents}
		 WHERE SEQ = #{seq}
	</update>
	
    <!--
        설명     : 샘플 데이터 삭제 
        작성일자  : 2021. 08. 12.
        작성자   : smlee1@kyobobook.com
    -->
	<delete id="deleteSample" parameterType="int">
		DELETE /* SampleSlaveMapper.deleteSample */ FROM SLAVE_SAMPLE
		 WHERE SEQ = #{seq}
	</delete>
</mapper>

